*.vo
*.vos
*.vok
*.glob
.sconsign.dblite
deps
old/*
coqidescript
\#*\#
*.pyc
*~
*.cmi
*.cmx
*.cmo
*.o
utils/coq2html
utils/coq2html.ml
doc/ch2o.*.html
*.cache
*.broken
broken/*
*.patch
parser/Extracted.*
parser/Lexer.ml
parser/Parser.ml
parser/Parser.mli
parser/Include.*
_build/
ch2o
*.native
*.byte
a.out
*.aux
.coq-native/
_opam
.vscode
Makefile.coq
Makefile.coq.conf
.Makefile.coq.d