*.vo
*.glob
.sconsign.dblite
deps
old/*
coqidescript
\#*\#
*.pyc
*~
*.cmi
*.cmx
*.cmo
*.o
utils/coq2html
utils/coq2html.ml
doc/*.html
*.cache
*.broken
broken/*
*.patch
parser/Extraction.ml
parser/Extraction.mli
parser/Lexer.ml
parser/Parser.ml
parser/Parser.mli
_build/
ch2o
*.native
*.byte

